* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: linear-gradient(180deg, #000000 30%, #514500 100%);
  background-repeat: no-repeat; /* Запобігає повторенню градієнта */
  background-attachment: fixed; /* Градієнт залишається нерухомим при прокрутці */
  background-size: cover; /* Гарантує, що градієнт покриває всю сторінку */
  /* background: var(--tg-theme-secondary-background-color); */
  /* background: var(--tg-theme-secondary-background-color, #3e4761); */
  /* background: linear-gradient(180deg, #000000 0%, #2c003e 100%); */
  color: var(--tg-theme-text-color, rgb(255, 255, 255));
  overflow: auto;
  /* -webkit-overflow-scrolling: touch; */
  /* touch-action: none; */
  /* height: 100%; */
  min-height: var(--tg-viewport-height);


  -webkit-user-select: none;  /* Safari */
  -moz-user-select: none;     /* Firefox */
  -ms-user-select: none;      /* Internet Explorer/Edge */
  user-select: none;          /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */

}

#app {
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  min-height: var(--tg-viewport-height);
}

main {
  overflow: hidden !important;
  -webkit-overflow-scrolling: touch;
  touch-action: none;
  flex-grow: 1;
}

/* header {
  background: blue;
}

main {
  background: red;
}

footer {
  background: rgb(0, 255, 60);
} */

.flying-number {
  position: absolute;
  animation: flyAndFade 1s ease-out forwards;
  color: white;
  font-size: 48px;
  font-weight: bold;
  user-select: none; /* Додаємо цю властивість */
  pointer-events: none; /* Це запобігає взаємодії з елементом через курсор */
}

@keyframes flyAndFade {
  0% {
      opacity: 1;
      transform: translateY(0);
  }
  100% {
      opacity: 0;
      transform: translateY(-250px);
  }
}

.hint {
  color: #c5c5c5;
  font-size: 14px;
}