* {
  margin: 0;
  padding: 0;
}

html {
  /* height: 100%; */
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--tg-theme-secondary-background-color);
  /* background: linear-gradient(180deg, #000000 0%, #2c003e 100%); */
  color: var(--tg-theme-text-color, rgb(255, 255, 255));
  overflow: auto;
  /* -webkit-overflow-scrolling: touch; */
  /* touch-action: none; */
  /* height: 100%; */
  min-height: var(--tg-viewport-height);


  -webkit-user-select: none;  /* Safari */
  -moz-user-select: none;     /* Firefox */
  -ms-user-select: none;      /* Internet Explorer/Edge */
  user-select: none;          /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */

}

#app {
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  min-height: var(--tg-viewport-height);
}

main {
  overflow: hidden !important;
  -webkit-overflow-scrolling: touch;
  touch-action: none;
  flex-grow: 1;
}

/* header {
  background: blue;
}

main {
  background: red;
}

footer {
  background: rgb(0, 255, 60);
} */

.flying-number {
  position: absolute;
  animation: flyAndFade 1s ease-out forwards;
  color: white;
  font-size: 48px;
  font-weight: bold;
  user-select: none; /* Додаємо цю властивість */
  pointer-events: none; /* Це запобігає взаємодії з елементом через курсор */
}

@keyframes flyAndFade {
  0% {
      opacity: 1;
      transform: translateY(0);
  }
  100% {
      opacity: 0;
      transform: translateY(-250px);
  }
}

.player {
  display: flex;
  align-items: center;

  margin: 10px;
  background: rgba(128, 128, 128, 0.1);
  color: #fff;
  padding: 10px;
  border-radius: 8px;
}

.leaderboard-title {
  margin: 10px;
  font-size: 24px;
}

.player-info {
  display: flex;
  flex-direction: column;
}

.player-score {
  font-size: 12px;
}
.rank {
  margin-right: 15px
}
.avatar, .name, .score {
  margin-right: 5px;
}

.avatar img, .avatar .initials {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.initials {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #777;
}